<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>mac.texpire</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>-ec</string>
		<string>
# wait for the news spool directory
/bin/wait4path /Users/dave/brew/var/spool/news/leafnode
# Prevent unmount while we're running
cd /Users/dave/brew/var/spool/news/leafnode
/Users/dave/brew/sbin/texpire
                </string>
	</array>
	<key>StartInterval</key>
	<integer>86400</integer>
	<key>ThrottleInterval</key>
	<integer>787</integer>
</dict>
</plist>
