<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>mac.mbsync</string>
	<key>ProgramArguments</key>
	<array>
          <string>/Users/dave/src/onmsg/scripts/mbsync-idle</string>
	</array>

        <key>RunAtLoad</key>
        <true/>

	<key>ThrottleInterval</key>
	<integer>60</integer>

        <key>KeepAlive</key>
        <dict>
          <key>PathState</key>
          <dict>
            <key>/etc/resolv.conf</key>
            <true/>
          </dict>
        </dict>

	<key>WatchPaths</key>
	<array>
	  <string>/etc/resolv.conf</string>
          <string>/Library/Preferences/SystemConfiguration/NetworkInterfaces.plist</string>
          <string>/Library/Preferences/SystemConfiguration/com.apple.airport.preferences.plist</string>
	</array>
</dict>
</plist>
