<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
        <dict>
                <key>OnDemand</key>                     <true/>
                <key>Label</key>                        <string>mac.leafnode</string>

                <!-- This will prevent the spool from being unmounted
                     until after the process has stopped -->
                <key>WorkingDirectory</key>
                <string>/Users/dave/brew/var/spool/news/leafnode/leaf.node</string>

	        <key>UserName</key>                     <string>_news</string>
                <key>ProgramArguments</key>
                <array>
                        <string>/Users/dave/brew/sbin/leafnode</string>
                </array>
                <key>Sockets</key>
                <dict>
                        <key>Listeners</key>
                        <dict>
                                <!-- Use a non-standard port -->
                                <key>SockServiceName</key>      <string>9119</string>
                        </dict>
                </dict>
                <key>inetdCompatibility</key>
                <dict>
                        <key>Wait</key> <false/>
                </dict>
                <!-- Make sure the news spool is mounted before starting -->
                <key>QueueDirectories</key>
                <array>
                        <string>/Users/dave/brew/var/spool/news/leafnode/leaf.node</string>
                </array>g
        </dict>
</plist>

<!-- vim: set nowrap tabstop=4 shiftwidth=4 softtabstop=4 noexpandtab :-->
<!-- vim: set textwidth=0 filetype=xml foldmethod=marker nospell :-->
