<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>                   <string>mac.fetchnews</string>
        <key>UserName</key>                <string>_news</string>

        <!-- This will prevent the spool from being unmounted
             until after the process has stopped -->
        <key>WorkingDirectory</key>
        <string>/Users/dave/brew/var/spool/news/leafnode/leaf.node</string>

        <!-- This avoids a failure due to lack of network connection.
             Since we'll be triggered by WatchPaths when it comes back
             up, it's OK to accept the longer StartInterval, rather
             than trying again after the ThrottleInterval, in that
             case.  
        -->
	<key>ProgramArguments</key>
	<array>
          <string>/bin/sh</string>
          <string>-c</string>
                <string>
set -e
if [ -e /etc/resolv.conf ]; then
    /Users/dave/brew/sbin/fetchnews
fi
                </string>
	</array>

        <!-- Update every 10 minutes. -->
        <key>StartInterval</key>        <integer>600</integer>
        
        <!-- If we fail (e.g. because texpire has the lock), try again in 1 minute. -->
        <key>ThrottleInterval</key>        <integer>60</integer>

        <!-- Start up as soon as we have DNS -->
        <key>WatchPaths</key>
        <array>
          <string>/etc/resolv.conf</string>
        </array>

        <!-- <key>Debug</key>                       <true/> -->
        <!-- <key>StandardOutPath</key><string>/tmp/fetchnews.log</string> -->
        <!-- <key>StandardErrorPath</key><string>/tmp/fetchnews.log</string> -->
</dict>
</plist>
