<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>mac.news-spool</string>
	<key>ProgramArguments</key>
	<array>
          <string>/bin/sh</string>
          <string>-c</string>
<string>
set -e
/usr/bin/hdiutil attach -nobrowse -notremovable -noautofsck -owners on -mountpoint /Users/dave/brew/var/spool/news /Users/dave/brew/var/spool/news.sparseimage
for x in leafnode fetchnews texpire ; do
  launchctl load /Library/LaunchDaemons/mac.$x.plist
done
</string>
	</array>

        <key>RunAtLoad</key>
        <true/>

        <!-- <key>StandardOutPath</key> -->
        <!-- <string>/tmp/news-spool.log</string> -->
        <!-- <key>StandardErrorPath</key> -->
        <!-- <string>/tmp/news-spool.log</string> -->
        <!-- <key>Debug</key> -->
        <!-- <true/> -->
</dict>
</plist>
